.chat-common{
    margin-bottom: 20px;
}

.chat {
  width: 100%;
  display: flex;
  /* position: relative; */
}

.chatOwn {
  width: 100%;
  display: flex;
  /* position: relative; */
  flex-direction: row-reverse;
}

.chatImg {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.chatMsgContainer {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  position: relative;
  margin-left: 5px;
}

.chatMsgContainerOwn {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  /* position: relative; */
 
}

.chatImgMsg {
  height: 200px;
  width: 150px;
  z-index: 1;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px 0px;
}

.chatTextMsgOwn {
  padding: 15px;
  border-radius: 30px;
  margin-left: 10px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: small;
}

.chatTextMsg {
  padding: 15px;
  border-radius: 30px;
  margin-left: 10px;
  background: #e4e6eb;
  font-size: small;
}

.msgInfo{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chatTimeOwn {
  color: gray;
  font-size: x-small;
  /* position: absolute;
  right: 0; */
}

.chatTime {
  color: gray;
  font-size: x-small;
}


.chat-seen {
  color: gray;
  font-size: x-small;
  text-align: end;
}
