.profileContainer{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileRightTop{
    display: flex;
    flex-direction: column;
}

.profileRightBottom{
    display: flex;
}

.profileRightBottomLeft{
    flex: 8;
}

.profileRightBottomRight{
    flex:4
}

.unfriendBtn{
    background-color: #e4e6eb;
}

.unfriendBtn:hover{
    background-color: #d7dadf;
}

.friendBtn{
    background-color: #1877f2;
    color: white;
}

.friendBtn:hover{
    background-color: #096cee;
}

.editBtn{
    background-color: #1877f2;
    color: white;
}

.editBtn:hover{
    background-color: #096cee;
}

.btn{
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn:hover{
    outline: none;
}


/* mobile */

.profileInfoWrapper{
    padding: 10px;
}
.profileDetailsWrapper{
    padding: 10px;
}

.friendListWrapper{
    padding: 0px 10px;
}

.friendBtnContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.copy-message {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; 
    color: black; 
    padding: 10px;
    border-radius: 5px;
  }
  