.reply{
    /* flex:4; */
    /* background: lightcyan; */
    display: flex;
    /* padding: 5px 5px; */
    align-items: center;
    height: 80px;
}

.replyLeft{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
}

.replyIcon{
    margin: 0px 3px;
}

.replyIcon:hover{
    cursor: pointer;
}

.replyCenter{
    flex: 8;
    margin-right: 10px;
    position: relative;
}

.replyMsg{
    width: 100%;
    border-radius: 25px;
    border: none;
    background: #e4e6eb;
    caret-color: auto;
    padding: 10px 20px;
    resize: none;
}

.replyMsg:focus{
    outline: none;
}

.replyRight{
    margin-left: 40px;
    margin-right: 10px;
}

.replyBtn{
    border: none;
    border-radius: 50%;
    color: #1877f2;
    background: white;
}

.replyBtn:hover{
    cursor: pointer;
    color: #096cee;
}

.reply-emoji-container{
    position: absolute;
    bottom: 65px;
}

.imagePreview{
    position: absolute;
    top: -109px;
    display: flex;
}

.r-preview-img{
    height: 100px;
    width: 100px;
}