.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.55);
  margin: 15px 0px;
}

.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postTopRight{
    position: relative;
}

.postTopRightIcon{
    color: gray;
}

.postTopRightIcon:hover{
    border-radius: 50%;
    cursor: pointer;
    background-color: #E4E6EB;
}

.postOptionBtnContainer{
    height: 80px;
    width: 120px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0px;
    border-radius: 10px;
    /* padding-left: 5px; */
}

.postSaveBtn{
    display: flex;
    align-items: center;
    padding: 5px;
}

.postSaveBtn:hover{
    cursor: pointer;
    background-color: #F2F2F2;
}

.postDeleteBtn{
    display: flex;
    align-items: center;
    padding: 5px;
}

.postDeleteBtn:hover{
    background-color: #F2F2F2;
    cursor: pointer;
}

.disabledStyle{
    display: flex;
    align-items: center;
    padding: 5px;
}

.disabledStyle:hover{
    background-color: #F2F2F2;
    cursor: not-allowed;
}


.postDeleteBtn span{
    margin-left: 5px;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUsername{
    margin: 0px 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 10px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    cursor: pointer;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.likeIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 5px;
}

.postLikeCounter{
    font-size: 15px;
}

.postLikeCounter:hover{
    cursor: pointer;
    text-decoration: underline;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 15px;
}

.comment-box-container{
    padding: 10px 5px;
    margin-top: 10px;
    border-top: 1px solid gray;
}

.prev-comments{
    list-style: none;
    padding: 0;
}

.prev-comment{
    margin: 8px 0px;
    /* background-color: lightgray; */
    display: flex;
    align-items: center;
}

.prev-comment img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.prev-comment div{
    font-size: small;
    background-color: #f0f2f5;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-radius: 10px;
    text-align: start;
}

.prev-comment div span{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.comment-time{
    color: gray;
    font-size: 10px;
    font-weight: 300;
}

.comment-option{
    margin-left: 5px;
}

.comment-option:hover{
    cursor: pointer;
}

.comment-input-container{
    width: 100%;
    border: none;
    background: #f0f2f5;
    padding: 9px 5px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
}

.comment-input{
   border: none;
   width: 100%;
   background-color: transparent;
}

.comment-input:focus{
    outline: none;
}

.comment-btn{
    border: none;
    color: #1877f2;
}

.comment-btn:hover{
    color: #3385f2;
    cursor: pointer;
}
