.history{
    display: flex;
    margin: 10px 5px ;
    padding: 10px 5px;
}

.history:hover{
    cursor: pointer;
    background-color: #e4e6eb;
    border-radius: 5px;
}

.historyContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
}


.historyImg{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.lastMsg{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    margin-top: 3px;
    color: gray;
    font-weight: 400
}

.time{
    position: relative;
}

.lastMsg .dot{
    position: absolute;
    left: -10px;
    bottom: 3px;
    font-weight: 900;
}

.historyName{
    font-weight: 600;
    font-size: 14px;
}