/* .rightbar {
  flex: 3.5;
  height: 90vh;
  overflow-y: scroll;
  position: sticky;
  top: 50px;
} */

.rightbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.rightbarWrapper {
  padding: 20px 15px 0px 0px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.advertisement{
    margin: 20px 0px;
}

.adImg{
    width: 100%;
    border-radius: 5px;
}


/* for profile page */

@media screen and (max-width: 768px){
  .rightbarWrapper{
    padding-left: 10px;
  }
}